@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}

#myCanvas{
	border: 1px solid black;
}

#chat{
	background-color:  #b9efff;
	width: 200px;
	height: 300px;
}
#messages_ul{
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color:  #b9efff;
}

.message_li{

}

#top_pannel_ul{
	display: flex;
	flex-flow: row no-wrap;
	list-style: none;
}

#nicknameLi{
	background-color: orange;
}