@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}

#players_div{
	margin: 10px;
	padding: 10px;
	background-color: aquamarine;
}

#game_container{
	display: flex;
	flex-flow: row no-wrap;
}

#drawing_panel{
	background-color: orange;
	max-width: 500px;
}

#chat_panel{
	background-color: green;
}

#myCanvas{
	border: 1px solid black;
}

#chat{
	background-color:  #b9efff;
	min-width: 300px;
	min-height: 500px;
	overflow: auto;
}
#messages_ul{
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color:  #b9efff;
}

.message_li{

}

#top_pannel_ul{
	display: flex;
	flex-flow: row no-wrap;
	list-style: none;
}

#nicknameLi{
	background-color: orange;
}

#what_are_you_drawing{
	display: none;
}

#who_is_drawing{
	display: none;
}